body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.box {
    width: 200px;
    padding: 15px;
    margin-bottom: 40px;
    color: white;
    background-color: steelblue;
    border-radius: 5px;
}


.static {
    position: static; 
    background-color: #4B8BBE;
}


.relative {
    position: relative;
    top: 10px;
    left: 20px;
    background-color: #306998;
    z-index: 2;
}


.container {
    position: relative; 
    height: 150px;
    border: 2px dashed gray;
}

.absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFD43B;
    color: black;
    z-index: 5;
}


.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6466f1;
    z-index: 10;
}


.sticky {
    position: sticky;
    top: 0;
    background-color: #34a853;
}
